
# LLM配置 (从HelloAgents继承,如需覆盖可在此配置)
# 模型名称
#LLM_MODEL_ID=your-model-name

# API密钥
#LLM_API_KEY=your-api-key-here

# 服务地址
#LLM_BASE_URL=your-api-base-url


LLM_API_KEY="sk-b1f591c9a1634ae095a210ac4b20fa7e"
LLM_MODEL_ID="qwen-plus"
LLM_BASE_URL="https://dashscope.aliyuncs.com/compatible-mode/v1"

# 超时时间（可选，默认60秒）
LLM_TIMEOUT=300

# 服务器配置
HOST=0.0.0.0
PORT=8000

# CORS配置
CORS_ORIGINS=http://localhost:5173,http://localhost:3000

# 日志级别
LOG_LEVEL=INFO

# Unsplash API Credentials
UNSPLASH_ACCESS_KEY="I4HiZSLDZKPJY4-XVTYGrF_iFbWT9-OkBtI6jqVKaAg"
UNSPLASH_SECRET_KEY="YIAny6AYoRbP7DxWF9M4fY_HuiKLd1gQjYHuBVKJhZ0"

# 高德地图API配置
AMAP_API_KEY=37fe537c05ba21dbf7c00f54e2852202